body {
	font-family: 'Prompt', promptitalic, sans-serif;
}
@font-face {
	font-family: 'promptitalic';
	src: url('../fonts/prompt-italic-webfont.woff2') format('woff2'),
		 url('../fonts/prompt-italic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
